h1 {
    background-color: burlywood;
    color: rgb(19, 5, 92);

    /* (Quiero que el h1 sea un bloque)
    que solo tome el tamaño que ucupa el contenido y se adapta a el
    que encaje con el contenido */
    width: fit-content;
}

#cajas {
    max-width: 700px;
    border: 20px solid red;
}

.caja {
    background-color: aqua;
    border: 5px solid red;

    /* Solo funciona cuando tiene como referente a un contenedor padre */
    width: 250px;
    height: 250px;

    width: 250vw;
    height: 250vh;

    max-width: 300px;
    min-width: 200px;

    max-height: 300px;
    min-height: 200px;

    /* Afuera
    especifico: izquierda, derecha, abajo, arriba */
    margin: 20px 15px 20px 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    /* Forma corta de margin-left y margin-rigth */
    margin-inline: auto;

    /* General: el mismo tamaño para todos los lados */
    margin: 20px;

    /* Interno
    lo mismo de margin funciona en padding */
    padding: auto;


    /* por defecto el modelo de la caja es el content-box ancho y alto más el padding y borde
    incluye por individual el contenido, padding y border */
    box-sizing: content-box;
    /* Significa que una caja por defecto para alcanzar los pixeles deseados
    necesita tener en cuenta lo que agrega */

    /* La suma del padding border y content
    se reparte el tamaño especificado para el modelo de la caja  */
    box-sizing: border-box;
    /* Toma la altura y la anchura especificado y se reparte para el padding y margin
    se debe tener en cuenta que la altura minima ya es la suma del padding y el border x2 */


    /* Todos los elementos en línea que vayan a tener float
    necesitan comportarse como una caja */
    display: block;

    /* FLOATS flotar a la derecha o izquierda */
    float: right;
}

/* Clase para limpiar flotados */
.clearfix {
    float: none;
    clear: both;
}