/* Fuente personalizada */
@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: nevis;
    src: url(fonts/nevis.eot);
    src: url(fonts/nevis.eot?#iefix) format(embedded-opentype);
    src: url(fonts/nevis.woff) format(woff);
    src: url(fonts/nevis.ttf) format(truetype);
    src: url(fonts/nevis.svg) format(svg);
}

h1 {
    font-family: 'Roboto, Segoe UI';
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

p {
    text-transform: uppercase;
    font-weight: bold;
}