/* SELECTORES */

/* Selector universal */
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

/* Selector de etiqueta o tipo (Es el más basico) selecciona todas las etiquetas de ese tipo */
body {
    background-color: aquamarine;
}

/* Selectores decendente o combinados/compuestos */
footer time {
    /* Selecciono del padre(quien lo contiene) 
    se aplica estilo a todos los elementos que son la ultima etiqueta (hija) */

    /* Selecciona el ultimo elemento de la ruta
    aplica estilo a todos los que existan iguales a ese ultimo elemento */
    color: brown;
}

/* Selector de id o identificador
para un solo elemento */
#container,
div {
    /* Con una , se agrupan selectores
    aplica a cada etiqueta los mismos estilos */
    border: 1px solid black;
    margin: 10px;
    background-color: rgb(89, 52, 188);
}

#container div form * {
    font-style: italic;
}

/* Selector de clase
para varios elementos */
.header {
    /* Un mismo elemento puede tener diferentes clases */
    background-color: blue;
}

/* Selector de atributo */
input[type="text"] {
    /* Aplica para los elementos con esa propiedad en concreto */
    margin: 50px;
}

button[type="submit"] {
    margin: 30px;
}

a[href="https://www.google.com"] {
    color: black;
    font-size: 30px;
}

img[src$=".png"] {
    border: 1px solid red;
}

img[alt$="image"] {
    border: 1px solid red;
}

div[class~="claseEspecifica"] {
    /* Seleccionar de una etiqueta con muchas clases una especifica */
    background-color: red;
}

/* Selector hijo directo */
#container>footer>time {
    /* Se aplica a los elementos que son hijos directos de ese nivel */
    background-color: green;
}

/* Selector hermano adyacente */
p+span {
    /* Cuando en el flujo son hermanos directos
    después del primer elemento sigue el segundo */
    color: violet;
}

/* Selector hermano general */
strong~span {
    /* Despúes del primer elemento pueden ir varios elementos en el mismo nivel
    aplica cuando encuentra los elementos al mismo nivel cumpliendo la regla */
    color: rgb(185, 19, 19);
}