/* Las páginas web parecen en 2D, un plano
pero realmente tenemos elementos que están al frente de otros
por ende si tenemos profundidad, una capa encima de otra */

.caja1 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: fixed;
    top: 10px;

    /* z-index para definir la prioridad en el eje, determinar que queda por delante
    antes de usar z-index debe existir un contexto de apilamiento */
    z-index: 2;
}

.caja2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    top: 20px;

    z-index: 1;
}