body {
    display: grid;

    /*
    justify-content: center;
    align-content: center;
    */
    place-content: center;

    min-height: 50vh;
}

.pulser {
    width: 30px;
    height: 30px;
    background-color: #09f;
    border-radius: 50%;
    position: relative;

    transition-duration: 3s;
    transition-timing-function: ease-in-out;

    opacity: 0;
}

section {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

section:hover .pulser {
    opacity: .3;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}

.pulser:first-child {
    transition-delay: 0ms;
}

.pulser:nth-child(2) {
    transition-delay: 300ms;
}

.pulser:nth-child(3) {
    transition-delay: 600ms;
}