body {
    display: grid;

    min-height: 100vh;
    justify-content: center;
    align-content: center;
}

.pulser {
    width: 50px;
    height: 50px;
    background-color: brown;
    border-radius: 50%;
    position: relative;
}

/* Fotogramas claves */
@keyframes move {

    /* Estado inicial */
    from {
        transform: translateY(0px);
    }

    /* Final de la animación */
    to {
        transform: translateY(100px);
    }
}

/* Puede ser after o before */
.pulser::after {
    /* Contenido en este caso vacio para que aparezca el seudoelemento 
    se utiliza para enseñar algo, imagen, icono lo que sea */
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: blue;
    border-radius: 50%;
    z-index: -1;
    scale: 2;
    opacity: .5;

    /* Indicamos la animación que debe usar */
    animation-name: pulse;

    /* Indicamos la duración total de la animación */
    animation-duration: 3s;

    /* Indicamos como reparte la velocidad de la animación */
    animation-timing-function: ease-in-out;

    /* Cuantas veces debe repetir */
    animation-iteration-count: 5;
    animation-iteration-count: infinite;

    /* El tiempo que se demora la animación en cargar */
    animation-delay: 1s;

    /* Especificar la dirección de la animación */
    animation-direction: normal;
    animation-direction: reverse;
    animation-direction: alternate;
    animation-direction: alternate-reverse;

    /* Pausa la animación ( Usar con js ) */
    animation-play-state: paused;

    /* El estado final del elemento */
    animation-fill-mode: none;
    /* Usa el keyframes inicial */
    animation-fill-mode: backwards;
    /* Usa el keyframes final */
    animation-fill-mode: forwards;
    /* Al inicio usa el keyframes inicial y termina en el final */
    animation-fill-mode: both;

    /* Abreviatura: nombre duración como repeticiones estadoFinal... 
    con , se pueden poner diferentes animaciones */
    animation: move 2s steps(5) infinite both;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    50% {
        scale: 1.2;
        opacity: 40%;
    }

}