section,
div {
    background-color: aqua;
    width: 250px;
    height: 250px;
    border: 5px solid red;
    margin: 0px auto;
    margin-bottom: 20px;
}

/* overflow desbordamiento */
section {
    /* Por defecto muestra el contenido que desborda fuera de la caja */
    /* Por defecto */
    overflow: visible;

    /* Lo que desborda de la caja se oculta deja de ser visible
    recorta el contenido fuera de la caja y no lo muestra */
    overflow: hidden;

    /* Para indicar como debe aparecer el contenido que desborda
    el desbordamiento termina en ...*/
    text-overflow: ellipsis;
}

div {
    /* El contenido de la caja no desborda y es acompañado por el scroll 
    navegar con scroll por el contenido que desborda */
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: scroll;

    /*Por defecto, recorta donde sea que se salga de la caja*/
    overflow: clip;
    /* Recomendado: determina si hay desbordamiento y muestra las barras o no */
    overflow: auto;
}