:root {
    /* Colores de tema */
    color-scheme: light dark;

    /* Color base de muchos elementos */
    accent-color: blue;
}

div {
    width: 200px;
    height: 300px;

    /* Para mostrar un color según el tema */
    background-color: light-dark(blue, red);
}

/* Cambiar propiedades de un elemento */
@media (prefers-color-scheme: dark) {
    p {
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    p {
        color: black;
    }
}

body {
    width: 100vw;
    height: 100vh;

    /* Para estilar la barra del scroll */
    scrollbar-color: blue yellow;

    scrollbar-width: auto;
    scrollbar-width: thin;
    scrollbar-width: none;
}

/* Si el navegador soporta la etiqueta entonces aplica los estilos */
@supports (display: grid) {
    div {
        color: greenyellow;
    }
}

/* Darle a un usuario la forma de que la web no tenga transiciones
si así esta configurado su navegador */
@media (prefers-reduced-motion: reduce) {
    .nombreTransicion {
        transition: none;
    }
}