:root {
    /* Variables dentro de la raiz */
    --mi-variable: #ccc;
}

h1 {
    /* var(variable) para utilizarla */
    color: var(--mi-variable);
}

h1 {
    cursor: default;
    /* Muestra una cruceta */
    cursor: crosshair;
    /* Muestra cursor de ayuda */
    cursor: help;
    /* Muestra un cursor para mover elementos */
    cursor: move;
    /* Muestra un cursor para hacer click */
    cursor: pointer;
    /* Muestra un cursor de carga */
    cursor: progress;
    /* Muestra un cursor de texto */
    cursor: text;
    /* Muestra un cursor de espera */
    cursor: wait;
    cursor: none;
}