/* PSEUDOCLASES una especie de selector */
/* Seleccionar el primer hijo de cualquier elemento */
ul li:first-child {
    color: red;
    font-size: 30px;
}

/* Seleccionar un elemento en concreto */
ul li:nth-child(3) {
    color: yellow;
    font-size: 20px;
}

/* Seleccionar el ultimo elemento */
ul li:last-child {
    color: green;
    font-size: 30px;
}

/* Seleccionar de la ruta las etiquetas que tenga la etiqueta que cumpla con tener () */
ul:has(li) {
    font-style: italic;
}

label:has(:focus:invalid) {
    color: tomato;
}

/* Cuando el puntero pase por encima del elemento */
h1:hover {
    color: aqua;
}

/* Mientras este pulsando el click izquierdo o derecho encima del elemento */
h1:active {
    color: blueviolet;
}

/* Cuando el elemento tenga el foco */
textarea:focus {
    border: 3px solid red;
}

/* Cuando este activo */
.checkbox:checked {
    width: 30px;
    height: 30px;
}


/* CON ENLACES */
#enlace {
    font-size: 100px;
    color: goldenrod;
}

/* Cuando no se a visitado */
#enlace:link {
    font-size: 30px;
    color: rgb(242, 4, 4);
}

/* Cuando ya se visito */
#enlace:visited {
    color: green;
}


/* PSEUDOELEMENTOS */
/* Seleccionar la primera letra del contenido del elemento */
p::first-letter {
    color: gray;
    font-size: 30px;
}

/* Seleccionar la primera linea del parrafo */
p::first-line {
    color: gray;
    font-size: 30px;
}

/* Modificar punteros o marcadores de listas */
li::marker {
    color: orange;
    font-size: 30px;
}

/* content se usa para añadir algo en algún punto
acceder a puntos de nuestro html que no tienen asociado un punto en el DOM */

/* Para añadir antes */
ul::before {
    content: "before Contenido insertado no seleccionable";
    /* Puede llevar sus propios estilos */
    font-size: 50px;
    color: cadetblue;
}

/* Para añadir después */
ul::after {
    content: "after Contenido insertado no seleccionable";
    font-size: 50px;
    color: chartreuse;
}

/* Para aplicar estilos al placeholder */
textarea::placeholder {
    color: chocolate;
    font-size: 20px;
}