// Variables contenedores de información, una caja para guardar algo
$fuente-tipica: sans-serif, Helvetica, Arial;
$color-fondo: #9ceaf8;
$color-letra: rgb(28, 89, 150);

body {
    background-color: $color-fondo;
}

h1 {
    font-family: $fuente-tipica;
    color: $color-letra;
}

// Anidación
.caja {
    background-color: #39f;
    border: 1px solid black;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;

    h2 {
        color: blue;
    }

    p {
        color: green;
    }

    .info {
        font-size: 20px;
    }
}

// Modulos
@import "modulo"; // para usar los modulos creados


// Mixins: son funciones
@mixin crearBordes($color, $size, $shadow) {
    // Agrupación/conjunto de instrucciones que se van a ejecutar cuando se llame la función
    border: $size solid $color;
    border-radius: $size;
    box-shadow: 0px 0px $size $shadow;
}

.caja {
    // Cuando llame a ese mixin/función debo pasarle los parametros
    @include crearBordes(red, 10px, black);
}

.caja2 {
    @include crearBordes(green, 5px, yellow);
    // Puedo seguir modificando
    color: #39f;
}

// Herencia
%alert-normal {
    border: 1px solid gray;
    background: #ccc;
    color: gray;
    padding: 10px;
    width: 80%;
    margin: 20px auto;
}

.alert {
    // lo mismo que hace el mixin pero sin parametros
    @extend %alert-normal;
}

.alert2 {
    @extend %alert-normal;
    // Una vez heredado puedo realizar cambios
    color: red;
    border-color: red;
}

.alert3 {
    @extend %alert-normal;
    color: blue;
    border-color: blue;
}

// Operadores
h1 {
    font-size: 30px + 5px;
}

$caja: 200px;
$wrap: 900px;

.caja {
    width: $wrap;
    margin: 0px auto;
    width: $caja / $wrap * 100%;
}

// Condicionales
$color-fondo: black;

h1 {
    @if $color-fondo ==#ccc {
        color: black;
    }

    @else if $color-fondo ==black {
        color: lightcyan;
    }

    @else {
        color: red;
    }
}

// Bucles

// Tenemos for, each y while
$contador: 1;

@for $contador from 1 through 10 {
    .listado ul li:nth-child(#{$contador}) {
        color: orange;
        font-size: $contador * 5px;
    }
}