div {
    display: grid;

    /* Ubicar las columnas según el espacio disponible
    modifica el cotenido para que se adapte al espacio actual 
    hasta que tenga sucifiente espacio para otra columna
    el contenido lo ajusta a los limites */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /*  auto-fill deja trozos de la cuadrícula vacia y solo rellena los huecos */
   
    grid-gap: 16px;
    max-width: 800px;
    margin: auto;
}

img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}