/* Unidades absolutas */
h1 {
    background-color: black;
    /* Centímetros */
    font-size: 1cm;
    /* Milímetros */
    font-size: 1mm;
    /* Pulgadas */
    font-size: 1in;
    /* Puntos */
    font-size: 1pt;
    /* Picas */
    font-size: 1pc;
    /* Pixeles*/
    font-size: 1px;
}

/* Unidades relativas */
.caja {
    background-color: rebeccapurple;
    /* tamaño relativo al tamaño del elemento padre, lo multiplica */
    width: 1em;
    /* Ancho de la caja en porcentaje (1% del ancho del contenedor padre) */
    width: 1%;
    /* Tamaño relativo al tamaño fuente del elemento raíz del documento */
    height: 1rem;
    /* Ancho de la caja en vw (viewport width - 100% del ancho de la ventana gráfica) */
    width: 100vw;
    /* Altura de la caja en vh (viewport height - 100% del alto de la ventana gráfica) */
    height: 100vh;

    /* Viewport dinámico */
    min-height: 100dvh;
}